<ion-view>
<ion-nav-bar class="bar-dark">
     <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
    <h1 class="title">企业信息</h1>
    </ion-nav-bar>
  <ion-content class="has-header">
   <div class="list card">
            <div class="item ">
              <h2 ng-bind-html="compInfo.name" class="positive"> </h2>
              <p ng-bind-html="compInfo.address"></p>
            </div>
            <div class="item item-body">
			<p><b>联系电话:</b><span ng-bind-html="compInfo.mobilePhone" class="positive"></span></p>
			<p><b>电子邮件:</b><span ng-bind-html="compInfo.email" class="positive"></span></p>
			<p><b>法人代表:</b><span ng-bind-html="compInfo.legalPerson" class="positive"></span></p>
                <br>
            </div>
           
	<!-- <div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" ng-click="activePosition(position.id)"> <i class="icon ion-checkmark"></i>
			激活岗位
		</a> 
		<a class="tab-item" ng-click="shieldPosition(position.id)"> <i class="icon ion-close"></i>
			屏蔽岗位
		</a> 
		<a class="tab-item" ng-click="releasedPosition(position.id)"> <i class="icon ion-loop"></i>
			重新发布
		</a>
	</div> -->
</div>
 <br>
  </ion-content>	
  </ion-view>