<ion-view>
<ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
    <h1 class="title">简历详情</h1>
    </ion-nav-bar>
  <ion-content class="has-header">
   <div class="list card">
            <div class="item ">
              <h2 ng-bind-html="resume.userName" class="assertive"> </h2>
              <!-- <p >联系电话：{{resume.userPhone}}</p> -->
            </div>
            <div class="item item-divider">
            个人资料
            </div>
            <div class="item item-body item-icon-right">
           <!--  <p>联系电话：{{resume.userPhone}}</p> -->
             <p><b>通讯地址：</b><span ng-bind-html="resume.txdz" class="positive"></span></p>
            </div>
            <div class="item item-button-right" >
             <p><b>联系电话:</b><span ng-bind-html="resume.userPhone" class="positive"></span></p>
             <!-- <button class="button button-positive" >
             <i class="icon ion-ios7-telephone" href="tel://{{resume.userPhone}}"></i>
              </button> -->
            </div>
                <!-- <ion-checkbox ng-model="isChecked0" class="item item-divider ">求职意向</ion-checkbox>
                <a class="item item-body item-icon-right" ng-repeat="graduate in resume." ng-if="isChecked0">
                 <p>时间:<span ng-bind-html="graduate.qssj"></span>至<span ng-bind-html="graduate.jzsj"></p>
                 <p><b>学校:</b><span ng-bind-html=""></span></p>
                 <p><b>专业:</b><span ng-bind-html=""></span></p>
                 </a>
                  <ion-checkbox ng-model="isChecked5" class="item item-divider ">证书</ion-checkbox>
                 <a class="item item-body item-icon-right" ng-repeat="ski in resume." ng-if="isChecked5">
                 <p><b>技能名称:</b><span ng-bind-html=""></span></p>
                 <p><b>技能水平:</b><span ng-bind-html=""></span></p>
                 </a> -->

                 <ion-list>
                           <ion-item class="item-stable"
                                     ng-click="toggleGroup(resume.graduates)"
                                     ng-class="{active: isGroupShown(resume.graduates)}">
                               <i class="icon" ng-class="isGroupShown(resume.graduates) ? 'ion-minus' : 'ion-plus'"></i>
                             &nbsp;
                             <b>教育经历</b>
                           </ion-item>
                           <ion-item class="item-accordion"
                                     ng-repeat="graduate in resume.graduates"
                                     ng-show="isGroupShown(resume.graduates)">
                             <p><b>时间:</b>{{graduate.qssj| date:"yyyy-MM-dd"}}至{{graduate.jzsj| date:"yyyy-MM-dd"}}</p>
                             <p><b>学校:</b><span ng-bind-html="graduate.xxmc"></span></p>
                             <p><b>专业:</b><span ng-bind-html="graduate.zyms"></span></p>
                           </ion-item>
                           <ion-item class="item-stable"
                                     ng-click="toggleGroup(resume.jobs)"
                                     ng-class="{active: isGroupShown(resume.jobs)}">
                               <i class="icon" ng-class="isGroupShown(resume.jobs) ? 'ion-minus' : 'ion-plus'"></i>
                             &nbsp;
                             <b>工作经历</b>
                           </ion-item>
                           <ion-item class="item-accordion"
                                     ng-repeat="job in resume.jobs"
                                     ng-show="isGroupShown(resume.jobs)">
                             <p><b>时间:</b>{{job.qssj| date:"yyyy-MM-dd"}}至{{job.jzsj| date:"yyyy-MM-dd"}}</p>
                             <p><b>单位:</b><span ng-bind-html="job.dwmc"></span></p>
                            <p><b>职位:</b><span ng-bind-html="job.zwmc"></span></p>
                           </ion-item>
                           <ion-item class="item-stable"
                                     ng-click="toggleGroup(resume.skill)"
                                     ng-class="{active: isGroupShown(resume.skill)}">
                               <i class="icon" ng-class="isGroupShown(resume.skill) ? 'ion-minus' : 'ion-plus'"></i>
                             &nbsp;
                             <b>技能专长</b>
                           </ion-item>
                           <ion-item class="item-accordion"
                                     ng-repeat="ski in resume.skill"
                                     ng-show="isGroupShown(resume.skill)">
                             <p><b>技能名称:</b><span ng-bind-html="ski.tcmc"></span></p>
                             <p><b>技能水平:</b><span ng-bind-html="ski.tcsp"></span></p>
                           </ion-item>
                           <ion-item class="item-stable"
                                     ng-click="toggleGroup(resume.fosters)"
                                     ng-class="{active: isGroupShown(resume.fosters)}">
                               <i class="icon" ng-class="isGroupShown(resume.fosters) ? 'ion-minus' : 'ion-plus'"></i>
                             &nbsp;
                             <b>培训经历</b>
                           </ion-item>
                           <ion-item class="item-accordion"
                                     ng-repeat="foster in resume.fosters"
                                     ng-show="isGroupShown(resume.fosters)">
                               <p><b>主办机构:</b><span ng-bind-html="foster.zbjg"></span></p>
                              <p><b>培训课程:</b><span ng-bind-html="foster.pxkc"></span></p>
                           </ion-item>
            </div>
           
            <!-- <div class="item item-divider display: block">
                <button class="button button-full button-calm" ng-click=""><i class="icon ion-plus"></i>添加到企业人才库</button>
            </div> -->
        </div>
         <br> 
  </ion-content>	
  </ion-view>